<%- include("header") -%>
    <div class="box" id="heading">
       <h1>About Me</h1> 
    </div>
    <div class="box">
        <p>Hi I am Anupam Kumar Sourav!</p>
        <a href="/work">Get back to work!</a>
    </div>
<%- include("footer") -%>